@charset "UTF-8";
/* CSS Document */

body {
	background-color: pink;
}

/*Figure scroll bar style rules*/
figure div{
	overflow: auto;
	white-space: nowrap;
	margin-bottom: 5px;
}
figure div img {
	margin: 10px;
	border-radius: 10px;
}
figure figcaption {
	background-color: white;
	font: 80% italic;
	text-align: center;
	margin-top: 5px;
}